@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<ServiceLayer.DTOs.BookDto>
@using ServiceLayer.Extensions


<div class="text-center">
    <h1 class="display-4">All Books</h1>
</div>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Publication Date:&nbsp;@item.PublishedOn.ToString("MM/dd/yyyy")</h6>
            <p class="card-text" title="@item.Description" >@item.Description.ConcatStr(100)</p>
            @Html.ActionLink("Change Publication Date", "ChangePubDate", "Admin", new { id = item.BookId }, null)
        </div>
    </div>

    <div>
        
        <hr />
    </div>
}

